.pro{
    position: absolute;
width: 350px;
height: 76px;
left: 200px;
top: 10px;
font-family: 'Boogaloo';
font-style: normal;
font-weight: 400;
font-size: 35px;
color: #FE0D0D;
}
.bet {
    position: absolute;
    width: 0px;
    height: 29px;
    left: 1230px;
    top:25px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    font-size: 27px;
    line-height: 29px;
    color: rgb(0, 0, 0);
    text-decoration:wavy;
    }
.dele{
    position: relative;
    left:-20px;

}
.edi{
    position: relative;
    left: 12px;
}